div{
  width: 100%;
}

.error{
  text-align: center;
  color: red;
  max-width: 200px;
  margin: 0 auto;
  margin-top: 5px;
}

.error-password-title{
  margin-bottom: 5px;
}

.qrcode{
  width: 100px !important;
  height: 100px !important;
}
